@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  transition: 'all 0s';
  box-sizing: 'border-box';
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
}

html {
  color: var(--font-color);
  background: var(--background-body);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

article > h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

article > div[align='center'] {
  display: flex;
  align-items: center;
}

article > details {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

details > summary {
  font-size: 1rem;
  align-content: center;
}

details > summary::marker {
  content: '» ';
  font-size: 2rem;
}

article > img {
  margin: 1rem;
}
